/*common styles*/
html,
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100%;
    font-size: 16px;
    background: #F5F6F8; 
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    font-weight: normal;
}
ul,
li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #ffffff;
}
p{
    margin: 0;
}
audio,
video,
canvas,
iframe,
img,
svg,
textarea{
    vertical-align: middle;
}
textarea{
    resize: none;
}
input,
select,
button{
    outline: none;
    display: block;
    cursor: pointer;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
.wrapper{
    position: relative;
    padding-left: 11vw;
}
.container{
    position: relative;
    width: 100%;
}
/* grid */
.col{
    display: flex;
    justify-content: space-between;
}
.col_1{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: 0.5vw;
}
.col_2{
    width: 56.77vw;
}
.col_space{
    margin-bottom: 0.5vw;
}
.wrap{
    display: flex;
}
.block{
    /*width: calc(100% - 0.5vw);*/
    border: 1px solid #DFE0EB;
    border-radius: 4px;
    background: #ffffff;
    overflow: hidden;
}
.block0{
    width: 27.14vw;
    height: 21.4062vw;
}
.block1{
    width: 29.16vw;
    height: 21.4062vw;
}
.block2{
    padding-bottom: 0.5vw;
    width: 56.77vw;
    height: 26.45vw;
}
.block3{
    width: 100%;
    height: 48.4375vw;
}
/*
general settings:
color: #1D191F;        //also darkGray     
color: #192a3e;        //darkGray
color: #8C7F98;        //moreGray
color: #DFE0EB        // and another gray
background: #F5F6F8;   //gray
background: #ebeff2;   //lightGray
background: #8C7F98;   //table header bg
*/

/* ASIDE MENU */
.aside1{
    position: fixed;
    top: 0;
    left: 0;
    width: 11vw;
    height: 100%;
    z-index: 2;
    box-shadow: 6px 0px 18px rgba(0,0,0,.06);
    background: #ffffff;
    transition: all linear .3s;
}
.menu{
    width: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
}
.closeMenu{
    display: none;
}
.logo{
    padding: 1.14vw 1.56vw 1.56vw 1.56vw;
}
.logo-img{
    max-width: 100%;
}
#menu{
    width: 100%;
    padding-left: 2.2vw;
    border-bottom: 1px solid #ebeff2;
    padding-bottom: 5px;
}
ul li{
    position: relative;
    margin-bottom: 1.45vw;
    padding-left: 0.5vw;
    padding-right: 5.6875vw;
    font-family: 'Gilroy_Medium';
    font-size: 0.8125em;
    color: #1D191F;
    cursor: pointer;
}
ul li:first-child:before{
    content: '';
    position: absolute;
    left: -0.625vw;
    top: 0;
    display: block;
    width: 0.625vw;
    height: 0.625vw;
    background:  url('../i/icon/dashboard-ic.png');
    background-size: contain;
}
ul li:nth-child(2):before{
    content: '';
    position: absolute;
    left: -0.625vw;
    top: 0;
    display: block;
    width: 0.625vw;
    height: 0.625vw;
    background:  url('../i/icon/orders-ic.png');
    background-size: contain;
}
ul li:nth-child(3):before{
    content: '';
    position: absolute;
    left: -0.625vw;
    top: 0;
    display: block;
    width: 0.625vw;
    height: 0.625vw;
    background:  url('../i/icon/customers-ic.png');
    background-size: contain;
}
ul li:nth-child(4):before{
    content: '';
    position: absolute;
    left: -0.625vw;
    top: 0;
    display: block;
    width: 0.625vw;
    height: 0.625vw;
    background:  url('../i/icon/products-ic.png');
    background-size: contain;
}
ul li:nth-child(5):before{
    content: '';
    position: absolute;
    left: -0.625vw;
    top: 0;
    display: block;
    width: 0.625vw;
    height: 0.625vw;
    background:  url('../i/icon/displays-ic.png');
    background-size: contain;
}
ul li:last-child:before{
    content: '';
    position: absolute;
    left: -0.625vw;
    top: 0;
    display: block;
    width: 0.625vw;
    height: 0.625vw;
    background:  url('../i/icon/marketing-ic.png');
    background-size: contain;
}
ul li:after{
    content: '';
    position: absolute;
    top: 0.25vw;
    right: 2.2vw;
    border: solid;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
}
.item-active{
    color: #8C7F98;
}
.options{
    display: flex;
    padding: 1.14vw 1.56vw;
}
.options-descr{
    font-family: 'Gilroy_Medium';
    font-size: 0.8125em;
    color: #1D191F;
}
.options-ic{
    display: flex;
    align-items: center;
    margin-right: 0.7vw;
    cursor: pointer;
}
.options-ic > div{
    margin-right: 2px;
    width: 0.1562vw;
    height: 0.1562vw;
    border-radius: 50%;
    background:#707683;
}

/*aside mobile*/
.aside2{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    z-index: 2;
    box-shadow: 6px 0px 18px rgba(0,0,0,.06);
    background: #ffffff;
    transition: all linear .3s;
}
.aside2 .logo{
    padding: 10px;
}

.aside2 ul li{
    position: relative;
    margin-bottom: 30px;
    padding-left: 3px;
    padding-right: 3px;
}
.aside2 ul li:first-child:before{
    content: '';
    position: absolute;
    left: -5px;
    top: 0;
    display: block;
    width: 20px;
    height: 20px;
    background: url('../i/icon/dashboard-ic.png') center center no-repeat;
}
.aside2 ul li:nth-child(2):before{
    content: '';
    position: absolute;
    left: -5px;
    top: 25px;
    display: block;
    width: 20px;
    height: 20px;
    background:  url('../i/icon/orders-ic.png') center center no-repeat;
}
.aside2 ul li:nth-child(3):before{
    content: '';
    position: absolute;
    left: -5px;
    top: 0;
    display: block;
    width: 20px;
    height: 116px;
    background:  url('../i/icon/customers-ic.png') center center no-repeat;
}
.aside2 ul li:nth-child(4):before{
    content: '';
    position: absolute;
    left: -5px;
    top: 0;
    display: block;
    width: 20px;
    height: 170px;
    background:  url('../i/icon/products-ic.png') center center no-repeat;
}
.aside2 ul li:nth-child(5):before{
    content: '';
    position: absolute;
    left: -5px;
    top: 0;
    display: block;
    width: 20px;
    height: 220px;
    background:  url('../i/icon/displays-ic.png') center center no-repeat;
}
.aside2 ul li:last-child:before{
    content: '';
    position: absolute;
	left: -5px;
    top: 0;
    display: block;
    width: 20px;
    height: 280px;
    background:  url('../i/icon/marketing-ic.png') center center no-repeat;
}
.aside2 ul li:after{
    display: none;
}
.aside2 .options{
    padding: 200px 9px;
}
.aside2 .options-descr{

}
.aside2 .options-ic{
    margin-right: 2px;
}
.aside2 .options-ic > div{
    margin-right: 2px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background:#707683;
}


/* HEADER */
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 2.96vw;
    padding-right: 2vw;
    box-shadow: 6px 0px 18px rgba(0,0,0,0.06);
    background: #ffffff;
}
.user-icon{
    width: 1.3vw;
    height: 1.3vw;
    margin-right: 0.5vw;
    background: url('../i/icon/login.png') center center no-repeat;
    background-size: contain;
}
.user-name{
    margin-right: 1.5vw;
    font-family: 'OpenSans-Regular';
    font-size: 0.875em;
    color: #8C7F98;
    cursor: pointer;
}
.notification{
    position: relative;
    width: 16px;
    height: 16px;
    background: url('../i/icon/notification-ic.png') center center no-repeat;
    background-size: contain;
    cursor: pointer;
}
.notification:before{
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #c33039;
}
/* DATA PANEL */
.data{
    position: relative;
    padding: 0 2vw 2.5vw 3vw;
}
.dataTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 0;
}
.data h1{
    font-family: 'Gilroy_Medium';
    font-size: 1.375em;
    line-height: 1.625em;
    color: #192a3e;
}
.dataTop > div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 170px;
}
.topPanel{
    position: relative;
    font-family: 'Gilroy_Regular';
    font-size: 0.75em;
    white-space: nowrap;
    color: #6a707e;
}
.topPanel span{
    cursor: pointer;
}
.topPanel:after{
    content: '';
    position: absolute;
    display: block;
    top: 37%;
    right: -15%;
    width: 0.46vw;
    min-width: 6px;
    height: 0.31vw;
    min-height: 3px;
    background: url('../i/icon/arrow-down.png') no-repeat;
    background-size: contain;
}
.set-ic{
    width: 1.14vw;
    height: 1.14vw;
    margin-left: 2vw;
    background: url('../i/icon/settings.png') center center no-repeat;
    background-size: contain;
}
.dataMain{
    display: flex;
    justify-content: space-between;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(2.1956vw + 10px);
    padding: 0.9375vw 1vw 0.9375vw 2vw;
    border-bottom: 1px solid #DFE0EB;
}
.header > div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 180px;
}
h2{
    font-family: 'Gilroy_Bold';
    font-size: 0.9375em;
    color: #192a3e;
}
.block img{
    width: 100%;
}
.block0 img {
    margin-top: 1vw;
}
.block1 img {
    width: 90%;
}
/*Table*/
.table{
    padding: 0.75vw 0.75vw 0 0.25vw;
    height: 100%;
}
table{
    width: 100%;
    display: block;
    border-collapse: collapse;
}
thead {
    display: table;
    width: 100%;
}
tbody {
    height: 41.2vw;
    overflow: hidden;
    display: block;
    overflow-y: auto;
    width: 100%;
}
tbody::-webkit-scrollbar{
  width: 18px;
  border-radius: 20px;
}

tbody::-webkit-scrollbar-track{
  background: #EBECF9;

}
tbody::-webkit-scrollbar-thumb{
  width: 24px;
  background: #C3BDC8;
  border: 6px solid #EBECF9;
  border-radius: 16px;
}
table tr th{
    position: relative;
    padding: 0.5vw 0 0.5vw 0.5vw;
    text-align: left;
    font-family: 'OpenSans_Light';
    font-size: 0.6875em;
    line-height: 0,9375em;
    color: #ffffff;
    background: #8C7F98;
    cursor: pointer;
}
table thead tr:nth-child(2) th{
    background: #A095AB;
}
.table tr th:first-child:after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 60px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.table tr th:nth-child(2):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.table tr th:nth-child(3):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.table tr th:last-child:after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 90px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
tr td{
    padding: 0.57vw 0 0.67vw 0.5vw;
    border-bottom: 1px solid #DFE0EB;
    font-family: 'OpenSans_Light';
    font-size: 0.6875em;
    line-height: 0,9375em;
    color: #707683;
}
tr{
    /*width: 100%;*/
    white-space: nowrap;
}
.table tr td:first-child{
    width: 20%;
    padding-left: 0.5vw;
}
.table tr td:nth-child(2){
    width: 20%;
    padding-left: 2.4vw;
}
.table tr td:nth-child(3){
    width: 20%;
    padding-left: 1.4vw;
}
.table tr td:last-child{
    padding-left: 1.6vw;
    width: 40%;
    font-weight: bold;
}
.canceled{
    color: #979797;
}
.done{
    color: #AAAAAA;
}
.waiting{
    color: #C9365F;
}
.refund{
    color: #F79D0F;
}
.ontheway{
    color: #6EBFC1;
}
.row3 .canceled{
    color: #979797;
}
.row3 .done{
    color: #AAAAAA;
}
.row3 .waiting{
    color: #C9365F;
}
.row3 .refund{
    color: #F79D0F;
}
.row3 .ontheway{
    color: #6EBFC1;
}
/*modal window*/
.modal{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(73, 50, 108, 0.7);
    transition: all linear 0.3s;
}
.modal.active{
    opacity: 1;
    visibility: initial;
}
.modalWrap{
    width: 27.13vw;
    z-index: 7;
    position: absolute;
    top: 1.3vw;
    right: 4vw;
    padding: 3.125vw 3.125vw 2.625vw 3.125vw;
    background: #ffffff;
    border-radius: 2px;
}
h3{
    font-family: 'Gilroy_Bold';
    font-size: 1,375em;
    line-height: 1.562em;
    letter-spacing: 0.7px;
    font-weight: normal;
    color: #49326C;
    margin-bottom: 1.4062vw;
}
button{
   float: right;
   font-family: 'Gilroy_Bold';
   text-align: center;
   font-size: 0.72em;
   line-height: 1.1875em;
   letter-spacing: 2.35846px;
   color: #ffffff;
   background: #49326C;
   border: 0;
   border-radius: 4px;
   padding: 0.93vw 2.08vw;
   margin: 0.9vw 0;
}
.modalWrap input{
    width: 100%;
    border-radius: 4px;
    padding: 0.7812vw;
    color: #34495E;
    margin-bottom: 1.5625vw;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #DFE0EB;
    margin-bottom: 1.25vw;
    font-family: 'OpenSans_Light';
    font-size: 0.975em;
    color: #34495E;
}
.modalWrap input:focus{
    padding: 0.9812vw 0.7812vw 0.4vw 0.7812vw;
    border: 1px solid #000000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0877491);
}
.modalWrap input:focus ~ label{
    top: 0.15625vw;
    left: 0.8291vw;
    color: red;
    font-size: 0.675em;
}
form div{
    position: relative;
}
form div label{
    position: absolute;
    top: 0.7812vw;
    left: 0.52vw;
    pointer-events: none;
    font-family: 'OpenSans_Light';
    font-size: 0.875em;
    color: #8D8E99;
    transition: .5s;
}
/*modal top arrow*/
.modalWrap:after{
    content: '';
    position: absolute;
    z-index: 5;
    top: -33px;
    right: 68px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40.5px 34px 40.5px;
    border-color: transparent transparent #8C7F98 transparent;
}
.modalWrap:before{
    content: '';
    position: absolute;
    z-index: 6;
    top: -32px;
    right: 68px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 33px 40px;
    border-color: transparent transparent #ffffff transparent;
}

/*Notification window*/
.modal1{
    opacity: 0; /* change here to hide/show block by default */
    visibility: hidden; /* change here to hide/show block by default */
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(73, 50, 108, 0.7);
    transition: all linear 0.3s;
}
.modal1.active{
    opacity: 1;
    visibility: initial;
}
.modalWrap1{
    width: 58.8541vw;
    height: 27.9687vw;
    z-index: 7;
    position: absolute;
    top: 35%;
    left: 50%;
    padding: 3.125vw 3.125vw 2.625vw 3.125vw;
    background: #ffffff;
    border-radius: 0;
    transform: translate(-50%,-50%);
}
.notifyWrap{
    padding: 0;
}
.headerNotify{
    margin-top: -1px;
    border: 0;
    box-shadow: none!important;
    background: #A095AB;
}
.notifyInner{
    display: flex;
    justify-content: flex-start!important;
    align-items: center!important;
    font-family: 'Gilroy_Medium';
    font-size: 0.9375em;
    line-height: 1.125em;
    letter-spacing: 0.01em;
    color: #ffffff;
}
.notifyInner > * {
    margin-right: 1.25em;
}
.notify-ic{
    display: block;
    width: 13px!important;
    height: 16px;
}
.closeNotify{
    display: block;
    width: 20px!important;
    height: 20px;
    background: url('../i/icon/closeNotify.svg')  center center no-repeat;
    cursor: pointer;
}
.bodyNotify{
    height: calc(25.9687vw);
    padding: 0 1.5vw 0 4vw;
    overflow: hidden;
    display: block;
    overflow-y: auto;
    width: 100%;
    background: #ffffff;
}
.bodyNotify::-webkit-scrollbar{
    width: 18px;
    border-radius: 20px;
}

.bodyNotify::-webkit-scrollbar-track{
    background: #EBECF9;

}
.bodyNotify::-webkit-scrollbar-thumb{
    width: 24px;
    background: #C3BDC8;
    border: 6px solid #EBECF9;
    border-radius: 16px;
}
.notify{
    position: relative;
    padding-top: 1.5vw;
}
.notify:before{
    content: '';
    display: block;
    position: absolute;
    left: -2vw;
    top: 63%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #C33039;
}
.notify > * {
    margin-bottom: 7px;
}
.time{
   font-family: 'OpenSans-Regular';
   font-size: 0.6875em;
   line-height: 0.9375em;
   color: #858585; 
}
.message{
    font-family: 'OpenSans-Regular';
    font-size: 0.875em;
    line-height: 1.4875em;
    letter-spacing: 0.2px;
    color: #34495E;
}
.more{
    font-family: 'OpenSans-Regular';
    font-size: 0.6875em;
    line-height: 0.9375;
    letter-spacing: 0.320833px;
    color: #358ED7;
    cursor: pointer;
}
/************* ORDERS ***********/
.numbers{
    display: flex;
    flex-wrap: wrap;
}
/* .numbers > * {
    margin-right: 1.5vw;
} */
.numbersWrap{
    display: flex;
    margin-right: 1.5vw;
}
.numbersWrap:last-child{
    margin-right: 0;
}

.number{
    flex-direction: column;
    border: 2px solid #9C9C9C;
    border-radius: 4px;
    padding: 0.4vw 0.8vw;
}
.number:first-child{
    margin-right: 1.5vw;
}
.numHeader{
    font-family: 'Gilroy_SemiBold';
    font-size: 0.8125em;
    line-height: 0.9375em;
    letter-spacing: 0.81px;
    margin-bottom: 1.4vw;
}
.numBody{
    display: flex;
}
.quantity{
    display: flex;
    justify-content: space-between;
    height: 3vw;
    margin-right: 4vw;
    flex-direction: column;
}
.quantity > div:first-child{
    font-family: 'Gilroy_Regular';
    font-size: 0.6875em;
    color: #9C9C9C;
}
.quantity > div:nth-child(2){
    font-family: 'Gilroy_Bold';
    font-size: 2.3174em;
    color: #9C9C9C;
    line-height: 1em;
    letter-spacing: 1.37px;
}
.sum{
    height: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sum > div:first-child{
    font-family: 'Gilroy_Regular';
    font-size: 0.6875em;
    color: #9C9C9C;
}
.sum > div:nth-child(2){
    font-family: 'Gilroy_Bold';
    font-size: 1.0625em;
    color: #9C9C9C;
    letter-spacing: 1.7px;
}

.total{
    border-color: #8C7F98;
    color:#8C7F98;
}
.totalColor{
    color:#8C7F98!important;
}

.wait{
    border-color: #F96E7C;
    color:#F96E7C!important;
}
.waitColor{
    color:#F96E7C!important;
}

.refunding{
    border-color: #F79D0F;
    color: #F79D0F!important;
}
.refundingColor{
    color: #F79D0F!important;
}

.onthewayto{
    border-color: #27BE87;
    color: #27BE87!important;
}
.onthewaytoColor{
    color: #27BE87!important;
}

/* Orders table*/
.table1{
    padding: 0.75vw 0 0 0;
}
.table1 tr th{
    position: relative;
    padding: 0.5vw 0 0.5vw 0.5vw;
    text-align: left;
    font-family: 'OpenSans_Light';
    font-size: 0.6875em;
    line-height: 0,9375em;
    color: #ffffff;
    background: #8C7F98;
    cursor: pointer;
}
.table1 tr th:nth-child(5){
    text-align: center;
}
.table1 tr th:first-child:after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 70px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.table1 tr th:nth-child(2):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 60px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.table1 tr th:nth-child(3):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 80px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.table1 tr th:nth-child(4):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 60px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.table1 tr th:nth-child(5):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 160px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.table1 tr th:nth-child(6):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 55px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.table1 tr th:nth-child(7):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.table1 tr th:nth-child(8):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 90px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.row2 th:first-child:after,
.row2 th:nth-child(2):after,
.row2 th:nth-child(3):after,
.row2 th:nth-child(4):after,
.row2 th:nth-child(5):after,
.row2 th:nth-child(6):after,
.row2 th:nth-child(7):after,
.row2 th:nth-child(8):after,
.row2 th:nth-child(9):after{
    display: none!important;
}
.table1 tr td{
    padding: 0.57vw 0 0.67vw 0.5vw;
    border-bottom: 1px solid #DFE0EB;
    font-family: 'OpenSans_Light';
    font-size: 0.6875em;
    line-height: 0,9375em;
    color: #707683;
}
.row3 tr td:first-child{
    width: 7.6vw;
    padding-right: 0;
}
.row3 tr td:nth-child(2){
    width: 7vw;
    padding-right: 0;
}
.row3 tr td:nth-child(3){
    width: 8.9vw;
    padding-right: 0;
}
.row3 tr td:nth-child(4){
    width: 6.2vw;
    padding-right: 0;
}
.row3 tr td:nth-child(5){
    width: 13vw;
    text-align: center;
    padding-right: 0;
}
.row3 tr td:nth-child(6){
    width: 5.8vw;
    padding-right: 0;
}
.row3 tr td:nth-child(7){
    width: 13.1vw;
    padding-right: 0;
}
.row3 tr td:nth-child(8){
    width: 10.1vw;
    padding-right: 0;
}
.row3 tr td:last-child{
    width: 8.9vw;
    padding-right: 1vw;
    font-weight: bold;
}

/* for customers.html */
.customers{
    padding: 1vw;
    border-radius: 4px;
    border: 0.5px solid rgba(160, 149, 171, 0.5);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0877491);
    background: #ffffff;
}
.customers .quantity > div:nth-child(3) {
    font-family: 'OpenSans-Regular';
    font-size: 0.6875em;
    color: rgba(112, 118, 131, 0.7);
}
.customers:first-child .quantity{
    margin-right: 2vw;
}
.customers .quantity{
    margin-right: 0;
}
.custNum{
    font-size: 1.5em;
    color: #7D8997; 
}
.numPercentage{
    margin-right: 1vw;
}
.customersTable{
    margin-top: 2vw;
    padding: 0.75vw 0 0 0;
}
.customersTable tr{
    width: 100%;
}
.customersTable tr th:nth-child(2):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.customersTable tr th:nth-child(3):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.customersTable tr th:nth-child(4):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.customersTable tr th:nth-child(10){
    text-align: center;
    background: #F79D0F;
}
.customersTable tr th:nth-child(11){
    text-align: center;
    background: #B9B9B9;
}
.customersTable tr th:nth-child(12){
    text-align: center;
    background: #D1D0D0;
}
.customersTable tr th:nth-child(13){
    background: #F96E7D;
}
.customersTable tr th:last-child{
    background: #48D2A0;
}
.customersTable tr td:first-child{
    padding-right: 1vw;
}
.customersTable tr th:first-child,
.customersTable tr td:first-child{
    width: 5.72vw;
}
.customersTable tr th:nth-child(2),
.customersTable tr td:nth-child(2){
    width: 4.84vw;
}
.customersTable tr th:nth-child(3),
.customersTable tr td:nth-child(3){
    width: 4.84vw;
}
.customersTable tr th:nth-child(4),
.customersTable tr td:nth-child(4){
    width: 9.7812vw;
}
.customersTable tr th:nth-child(5),
.customersTable tr td:nth-child(5){
    width: 10.5458vw;
}
.customersTable tr th:nth-child(6),
.customersTable tr td:nth-child(6){
    width: 4.427vw;
}
.customersTable tr th:nth-child(7),
.customersTable tr td:nth-child(7){
    width: 7.552vw;
}
.customersTable tr th:nth-child(8),
.customersTable tr td:nth-child(8){
    width: 3.54vw;
}
.customersTable tr th:nth-child(9),
.customersTable tr td:nth-child(9){
    width: 4.04vw;
}
.customersTable tr th:nth-child(10),
.customersTable tr td:nth-child(10){
    width: 4.87vw;
}
.customersTable tr th:nth-child(11),
.customersTable tr td:nth-child(11){
    width: 4.67vw;
}
.customersTable tr th:nth-child(12),
.customersTable tr td:nth-child(12){
    width: 4.79vw;
}
.customersTable tr th:nth-child(13),
.customersTable tr td:nth-child(13){
    width: 8.8541vw;
}
.customersTable tr th:last-child,
.customersTable tr td:last-child{
    width: 7.3437vw;
}
.table1 tbody tr:hover{
    background: rgba(128, 94, 174, 0.07);
}
.customersTable tbody tr:hover{
    background: rgba(128, 94, 174, 0.07);
}
/* displays */
.map{
    height: 21.0937vw;
    overflow: hidden;
}
.map img{
    /* max-width: 100%; */
}
.displaysTable table tbody{
    height: 23.3854vw;
}
.displaysTable table tr th,
.displaysTable table tr td{
    white-space: normal;
}
.displaysTable table tr th:first-child,
.displaysTable table tr td:first-child{
    width: 4.5vw;
}
.displaysTable table tr:first-child th:first-child:after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.displaysTable table tr:first-child th:nth-child(3):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.displaysTable table tr:first-child th:nth-child(4):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.displaysTable table tr:first-child th:nth-child(5):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 70px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.displaysTable table tr:first-child th:nth-child(6):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    left: 70px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.displaysTable table tr:first-child th:nth-child(7):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    right: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.displaysTable table tr:first-child th:nth-child(8):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    right: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.displaysTable table tr:first-child th:nth-child(9):after{
    content: '';
    display: block;
    position: absolute;
    top: 47%;
    right: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
}
.displaysTable table tr th:nth-child(2),
.displaysTable table tr td:nth-child(2){
    width: 40px;
}
.displaysTable table tr th:nth-child(3),
.displaysTable table tr td:nth-child(3){
    width: 17.76vw;
}
.displaysTable table tr th:nth-child(4),
.displaysTable table tr td:nth-child(4){
    width: 7.76vw;
}
.displaysTable table tr th:nth-child(5),
.displaysTable table tr td:nth-child(5){
    width: 7.2vw;
}
.displaysTable table tr th:nth-child(6),
.displaysTable table tr td:nth-child(6){
    width: 5.41vw;
}
.displaysTable table tr th:nth-child(7),
.displaysTable table tr td:nth-child(7){
    width: 8.85vw;
}
.displaysTable table tr th:nth-child(8),
.displaysTable table tr td:nth-child(8){
    width: 8.85vw;
}
.displaysTable table tr th:nth-child(9),
.displaysTable table tr td:nth-child(9){
    width: 6.09vw;
}
.displaysTable table tr th:nth-child(10),
.displaysTable table tr td:nth-child(10){
    width: 7.23vw;
}
.displaysTable table tr th:last-child,
.displaysTable table tr td:last-child{
    width: 7.6vw;
}
.indicate{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px rgba(55, 81, 255, 0.2);
    background: #000;
}
.inAction{
    background: #48D2A0;
}
.outOfAction{
    background: #F96E7D;
}
.onPause{
    background: #F79D0F;
}
/***************************************************************************************************************************************/
/* media queries */
@media(max-width: 1572px) {
    .wrapper{
        padding-left: 173px;
    }
    /*fix aside for good readability*/
    .aside1{
        width: 173px;
    }
    .logo{
        padding: 25px 30px 30px 30px;
    }
    #menu{
        margin-top: 10px;
        padding-left: 35px;
    }
    ul li{
        margin-bottom: 20px;
        padding-left: 15px;
        font-size: 13px;
    }
    ul li:first-child:before{
        left: -12px;
        top: 1px;
        width: 12px;
        height: 12px;
    }
    ul li:nth-child(2):before{
        left: -12px;
        top: 1px;
        width: 12px;
        height: 12px;
    }
    ul li:nth-child(3):before{
        left: -12px;
        top: 1px;
        width: 12px;
        height: 12px;
    }
    ul li:nth-child(4):before{
        left: -12px;
        top: 1px;
        width: 12px;
        height: 12px;
    }
    ul li:nth-child(5):before{
        left: -12px;
        top: 1px;
        width: 12px;
        height: 12px;
    }
    ul li:last-child:before{
        left: -12px;
        top: 1px;
        width: 12px;
        height: 12px;
    }
    ul li:after{
        content: '';
        position: absolute;
        top: 0.25vw;
        right: 30px;
        border: solid;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
    }
    .options{
        display: flex;
        padding: 20px 23px;
    }
    .options-descr{
        font-size: 13px;
    }
    .options-ic{
        margin-right: 9px;
    }
    .options-ic > div{
        margin-right: 2px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background:#707683;
    }
    /**/
    .modalWrap{
        top: 2vw;
        right: 4vw;
    }
    .quantity{
        height: 3.5vw;
    }
    .quantity > div:nth-child(2){
        font-size: 1.9174em;
        line-height: 1em;
        letter-spacing: 1.37px;
    }
    .sum{
        height: 3.5vw;
    }
}
@media(max-width: 1410px) {
    h2{
        font-size: 0.8em;
    }
    header{
        height: 40px;
        padding-right: 40px;
    }
    .user-icon{
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
    .user-name{
        margin-right: 30px;
        font-size: 13px;
    }
    .notification{
        width: 16px;
        height: 16px;
    }
    .notification:before{
        top: 1px;
        left: 2px;
        width: 5px;
        height: 5px;
    }
    .dataMain{
        flex-direction: column;
    }
    .col{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .col_1{
        margin-top: 0.5vw;
        margin-left: 0;
    }
    .col_2{
        width: 100%;
    }
    .block0{
        flex: 1;
        width: 100%;
        height: 21.4062vw;
    }
    .block1{
        flex: 1;
        width: 100%;
        height: 21.4062vw;
        margin-left: 0.5vw;
    }
    .block img{
        height: 100%;
    }
    .block0 img {
        margin-top: 0;
        height: 17.69vw;
    }
    .block1 img {
        height: 17.69vw;
    }
    .block2{
        padding-bottom: 0.5vw;
        width: 100%;
        height: 26.45vw;
    }
    .table tr td:nth-child(2){
        width: 20%;
        padding-left: 5vw;
    }
    .table tr td:nth-child(3){
        width: 20%;
        padding-left: 4vw;
    }
    .table tr td:nth-child(4){
        padding-left: 3vw;
        padding-right: 20vw;
        width: 40%;
        font-weight: bold;
    }
    tbody{
        overflow: hidden;
        display: block;
        overflow-y: auto;
        width: 100%;
    }
    .table tbody {
        height: 42.3vw;
    }
    tbody::-webkit-scrollbar{
        width: 12px;
        border-radius: 20px;
    }
    tbody::-webkit-scrollbar-thumb{
        width: 24px;
        background: #C3BDC8;
        border: 4px solid #EBECF9;
        border-radius: 16px;
    }
    tr th:first-child:after{
        top: 47%;
        left: 60px;
    }
    tr th:nth-child(2):after{
        top: 47%;
        left: 50px;
    }
    tr th:nth-child(3):after{
        top: 47%;
        left: 47px;
    }
    tr th:last-child:after{
        top: 47%;
        left: 90px;
    }
    .modalWrap{
        top: calc(2% + 4px);
        right: 3.5%;
    }
    .modalWrap1{
        width: 90%;
        height: 37.9687vw;
        margin: 0 auto;
        z-index: 7;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .bodyNotify{
        height: 45.9687vw;
    }
    .numbers{
        width: 100%;
    }
    .number{
        padding: 9px 13px
    }
    .row3 tr td:first-child{
        width: 7.6vw;
        padding-right: 0;
        padding-left: 0;
    }
    .row3 tr td:nth-child(2){
        width: 7vw;
        padding-right: 0;
        padding-left: 0;
    }
    .row3 tr td:nth-child(3){
        width: 8.9vw;
        padding-right: 0;
        padding-left: 0;
    }
    .row3 tr td:nth-child(4){
        width: 6.2vw;
        padding-right: 0;
        padding-left: 0;
    }
    .row3 tr td:nth-child(5){
        width: 15vw;
        padding-right: 0;
        padding-left: 0;
    }
    .row3 tr td:nth-child(6){
        width: 5.8vw;
        padding-right: 0;
        padding-left: 0;
    }
    .row3 tr td:nth-child(7){
        width: 13.1vw;
        padding-right: 0;
        padding-left: 0;
    }
    .row3 tr td:nth-child(8){
        width: 10.1vw;
        padding-right: 0;
        padding-left: 0;
    }
    .row3 tr td:last-child{
        width: 8.9vw;
        padding-right: 1vw;
        padding-left: 0;
        font-weight: bold;
    }
    .customersTable{
        overflow: hidden;
        overflow-x: auto;
    }
    .customersTable thead,
    .customersTable tbody{
        width: 1166px;
    }
    .customersTable tr th:first-child,
    .customersTable tr td:first-child{
        width: 78px;
    }
    .customersTable tr th:nth-child(2),
    .customersTable tr td:nth-child(2){
        width: 65px;
    }
    .customersTable tr th:nth-child(3),
    .customersTable tr td:nth-child(3){
        width: 65px;
    }
    .customersTable tr th:nth-child(4),
    .customersTable tr td:nth-child(4){
        width: 123px;
    }
    .customersTable tr th:nth-child(5),
    .customersTable tr td:nth-child(5){
        width: 136px;
    }
    .customersTable tr th:nth-child(6),
    .customersTable tr td:nth-child(6){
        width: 59px;
    }
    .customersTable tr th:nth-child(7),
    .customersTable tr td:nth-child(7){
        width: 104px;
    }
    .customersTable tr th:nth-child(8),
    .customersTable tr td:nth-child(8){
        width: 49px;
    }
    .customersTable tr th:nth-child(9),
    .customersTable tr td:nth-child(9){
        width: 54px;
    }
    .customersTable tr th:nth-child(10),
    .customersTable tr td:nth-child(10){
        width: 66px;
    }
    .customersTable tr th:nth-child(11),
    .customersTable tr td:nth-child(11){
        width: 63px;
    }
    .customersTable tr th:nth-child(12),
    .customersTable tr td:nth-child(12){
        width: 67px;
    }
    .customersTable tr th:nth-child(13),
    .customersTable tr td:nth-child(13){
        width: 137px;
    }
    .customersTable tr th:last-child,
    .customersTable tr td:last-child{
        width: 102px;
    }
    .customersTable::-webkit-scrollbar{
        width: 18px;
        border-radius: 20px;
    }
    .customersTable::-webkit-scrollbar-track{
        background: #EBECF9;
    }
    .customersTable::-webkit-scrollbar-thumb{
        width: 24px;
        background: #C3BDC8;
        border: 6px solid #EBECF9;
        border-radius: 16px;
    }
}
@media(max-width: 1244px) {
    .numbersWrap{
        width: 100%;
        margin-right: 0;
    }
    .number{
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.5vw;
        padding: 15px 10px;
    }
    .numBody{
        display: flex;
        justify-content: space-between;
    }
    .quantity{
        margin-right: 0;
    }
    .table1 tr th:nth-child(5){
        text-align: center;
    }
    .row3 tr td:nth-child(2){
        width: 7vw;
        padding-right: 0;
        padding-left: 1vw;
        padding-right: 1.5vw;
    }
    .row3 tr td:nth-child(3){
        width: 8.9vw;
        padding-right: 0;
        padding-left: 2vw;
    }
    .row3 tr td:nth-child(4){
        width: 6.2vw;
        padding-right: 0;
        padding-left: 1vw;
        padding-right: 1.5vw;
    }
    .row3 tr td:nth-child(5){
        width: 15vw;
        padding-right: 0;
        padding-left: 3vw;
    }
    .table1 tr th:first-child:after{
        top: 47%;
        left: 60px;
    }
    .table1 tr th:nth-child(2):after{
        top: 47%;
        left: 55px;
    }
    .table1 tr th:nth-child(3):after{
        top: 47%;
        left: 70px;
    }
    .table1 tr th:nth-child(4):after{
        top: 47%;
        left: 50px;
    }
    .table1 tr th:nth-child(5):after{
        top: 47%;
        left: 105px;
    }
    .table1 tr th:nth-child(6):after{
        top: 47%;
        left: 45px;
    }
    .table1 tr th:nth-child(7):after{
        top: 47%;
        left: 40px;
    }
    .table1 tr th:nth-child(8):after{
        top: 47%;
        left: 80px;
    }
    .table1 tr th:last-child:after{
        top: 47%;
        left: 80px;
    }
}
/* @media(max-width: 1144px) {
    .quantity > div:last-child{
        font-size: 1.1174em;
        line-height: 1em;
        letter-spacing: 1.37px;
    }
    .sum > div:last-child{
        font-size: 0.6125em;
        letter-spacing: 1.7px;
    }
} */
@media(max-width: 1010px) {
     body{
        font-size: 13px;
    }
    tr th:first-child:after{
        top: 47%;
        left: 50px;
    }
    tr th:nth-child(2):after{
        top: 47%;
        left: 40px;
    }
    tr th:nth-child(3):after{
        top: 47%;
        left: 37px;
    }
    tr th:last-child:after{
        top: 47%;
        left: 70px;
    }
    .modalWrap{
        top: calc(1.1% + 8px);
        right: 5.5%;
    }
    /*modal top arrow*/
    .modalWrap:after{
        top: -23px;
        right: 40px;
        border-width: 0 30.5px 24px 30.5px;
    }
    .modalWrap:before{
        top: -22px;
        right: 40px;
        border-width: 0 30px 23px 30px;
    }
    .table1 tr th:nth-child(5){
        padding-left: 1vw;
    }
    .table1 tr th:first-child:after{
        top: 47%;
        left: 50px;
        border-width: 3px 2.5px 0 2.5px;
    }
    .table1 tr th:nth-child(2):after{
        top: 47%;
        left: 45px;
        border-width: 3px 2.5px 0 2.5px;;
    }
    .table1 tr th:nth-child(3):after{
        top: 47%;
        left: 60px;
        border-width: 3px 2.5px 0 2.5px;
    }
    .table1 tr th:nth-child(4):after{
        top: 47%;
        left: 40px;
        border-width: 3px 2.5px 0 2.5px;px;
    }
    .table1 tr th:nth-child(5):after{
        top: 47%;
        left: 90px;
        border-width: 3px 2.5px 0 2.5px;
    }
    .table1 tr th:nth-child(6):after{
        top: 47%;
        left: 40px;
        border-width: 3px 2.5px 0 2.5px;
    }
    .table1 tr th:nth-child(7):after{e;
        top: 47%;
        left: 40px;
        border-width: 3px 2.5px 0 2.5px;
    }
    .table1 tr th:nth-child(8):after{
        top: 47%;
        left: 70px;
        border-width: 3px 2.5px 0 2.5px;
    }
    .table1 tr th:nth-child(9):after{
        top: 47%;
        left: 70px;
        border-width: 3px 2.5px 0 2.5px;
    }
    .quantity{
        height: 4.5vw;
    }
    .quantity > div:nth-child(2){
        font-size: 1.9174em;
        line-height: 1em;
        letter-spacing: 1.37px;
    }
    .sum{
        height: 4.5vw;
    }
}
@media(max-width: 949px){
    .table tr td:nth-child(2){
        padding-left: 5vw;
    }
    .table tr td:nth-child(3){
        padding-left: 7vw;
    }
    .table tr td:nth-child(4){
        padding-left: 6vw;
        padding-right: 18vw;
    }
    .table1 tr td:nth-child(2),
    .table1 tr td:nth-child(3),
    .table1 tr td:nth-child(4) {
        padding-left: 0;
        padding-right: 0;
    }
}
@media(max-width: 906px) {
    .table1{
        overflow: hidden;
        overflow-x: auto;
    }
    .table1::-webkit-scrollbar{
        width: 10px;
        border-radius: 20px;
    }
    .table1::-webkit-scrollbar-track{
        width: 10px;
        background: #EBECF9;
    }
    .table1::-webkit-scrollbar-thumb{
        width: 10px;
        background: #C3BDC8;
        border: 7px solid #EBECF9;
        border-radius: 16px;
    }
    .table1 thead,
    .table1 tbody{
        width: 688px!important;
    }
   .table1 tr th{
       padding: 5px 0 5px 10px!important;
   }
   .table1 tr th:first-child,
   .row3 tr td:first-child{
        width: 61px!important;
        padding: 0;
    }
    .table1 tr th:nth-child(2),
    .row3 tr td:nth-child(2){
        width: 53px!important;
        padding: 0;
    }
    .table1 tr th:nth-child(3),
    .row3 tr td:nth-child(3){
        width: 69px!important;
        padding: 0;
    }
    .table1 tr th:nth-child(4),
    .row3 tr td:nth-child(4){
        width: 54px!important;
        padding: 0;
    }
    .table1 tr th:nth-child(5),
    .row3 tr td:nth-child(5){
        width: 114px!important;
        padding: 0;
    }
    .table1 tr th:nth-child(6),
    .row3 tr td:nth-child(6){
        width: 52px!important;
        padding: 0;  
    }
    .table1 tr th:nth-child(7),
    .row3 tr td:nth-child(7){
        width: 94px!important;
        padding: 0;
    }
    .table1 tr th:nth-child(8),
    .row3 tr td:nth-child(8){
        width: 74px!important;
        padding: 0;
    }
    .table1 tr th:last-child{
        width: 114px!important;
        padding: 0;
    }
    .row3 tr td:last-child{
        width: 114px!important;
        padding: 0;
        padding-right: 1vw;
        font-weight: bold;
    }
} 
@media(max-width: 800px){
    .col{
        flex-direction: column;
    }
    .block1{
        margin-top: 0.5vw;
        margin-left: 0;
    }
    .table tr td:nth-child(2){
        padding-left: 6vw;
    }
    .table tr td:nth-child(3){
        padding-left: 9vw;
    }
    .table tr td:nth-child(4){
        padding-left: 6vw;
        padding-right: 0;
    }
    .table1 tr td:nth-child(2){
        padding-left: 0;
    }
    .table1 tr td:nth-child(3){
        padding-left: 0;
    }
    .table1 tr td:nth-child(4){
        padding-left: 0;
        padding-right: 0;
    }
    /*modal window tablet*/
    .modalWrap{
        width: 90%;
        z-index: 7;
        position: absolute;
        top: 30%;
        left: 50%;
        padding: 3.125vw 3.125vw 2.625vw 3.125vw;
        background: #ffffff;
        border-radius: 2px;
        transform: translate(-50%,-50%);
    }
    /*modal top arrow*/
    .modalWrap:after{
        display: none;
    }
    .modalWrap:before{
        display: none;
    }
    button{
        font-size: 0.72em;
        line-height: 1.1875em;
        letter-spacing: 2.35846px;
        padding: 1.2vw 3vw;
        margin: 0.9vw 0;
    }
    /*Aside menu tablet*/
    .wrapper{
        padding-left: 30px;
        transition: all linear .1s;
    }
    .aside1{
        margin-left: -100%;
    }
    .aside2{
        display: block;
    }
    .notify:before{
        left: -3.5%;
        top: 43%;
        width: 5px;
        height: 5px;
    }
     .customersTable::-webkit-scrollbar{
        width: 10px;
        border-radius: 20px;
    }
    .customersTable::-webkit-scrollbar-track{
        width: 10px;
        background: #EBECF9;
    }
    .customersTable::-webkit-scrollbar-thumb{
        width: 10px;
        background: #C3BDC8;
        border: 7px solid #EBECF9;
        border-radius: 16px;
    }
}
@media (max-width: 700px) {
    body{
        font-size: 12px;
    }
    h2{
        font-size: 0.7em;
    }  
}
@media(max-width: 544px){
    tr th{
        font-size: 0.5875em;
    }
    tr td{
        font-size: 0.5875em;
    }
    .topPanel{
        font-size: 0.65em;
    }
    .modalWrap1{
        width: 97%;
        height: 57.9687vw;
        margin: 0 auto;
        z-index: 7;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .bodyNotify{
        height: 57.7687vw;
    }
    .bodyNotify::-webkit-scrollbar{
        width: 12px;
    }
    .bodyNotify::-webkit-scrollbar-thumb{
        border: 4px solid #EBECF9;
    }
}
@media(max-width: 667px) {
    .numbersWrap{
        flex-direction: column;
        width: 100%;
        margin-right: 0;
    }
}
@media(max-width: 430px) {
    .closeMenu{
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 10px;
        height: 10px;
        background: url(../i/icon/closeModal.svg) center center no-repeat;
    }
    .aside1{
        z-index: 15;
        width: 100%;
    }
}
@media(max-width: 408px) {
    body{
        font-size: 10px;
    }
    .notify:before{
        left: -3.5%;
        top: 43%;
        width: px;
        height: px;
    }
}